/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#loginButton {

}

#loginButton:hover {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 ); 
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
}
